<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DeptMapper">

<resultMap type="com.example.domain.Emp" id="deptWithEmp">
<id property="deptno" column="dept_deptno"/>
<result property="dname" column="dept_dname"/>
<result property="loc" column="dept_loc"/>
<association property="emp" javaType="com.example.domain.Emp">
<id property= "empno" column="emp_empno"/>
<result property="ename" column="emp_ename"/>
<result property="job" column="emp_job"/>
<result property="mgr" column="emp_mgr"/>
<result property="hiredate" column="emp_hiredate"/>
<result property="sal" column="emp_sal"/>
<result property="com" column="emp_com"/>
<result property="deptno" column="emp_deptno"/>
</association>
</resultMap>
<select id="selectAllWithDept" resultMap="deptWithEmp">



select d.deptno as dept_deptno,
d.dname as dept_dname,
d.loc as dept_loc,
e.empno as emp_empno,
e.ename as emp_ename,
e.job as emp_job,
e.mgr as emp_mgr,
e.hiredate as emp_hiredate,
e.sal as dept_sal,
e.com as dept_com,
e.deptno as dept_deptno
from dept d left outer join emp e 
on d.deptno=e.deptno
	
</select>
</mapper>